

.main{
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
}

.navcol{
    position:fixed;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}

.nav-img{
    border-radius: 50%;
    margin: 5%;
    width:90%;
}

.navlist{
    padding: 1rem;
    margin-bottom: 1rem;
    overflow: auto;
    max-height: 75vh;
}

.paragraph{
    padding:  2rem;
    display: inline-block;
    width: 100%;
}

.paragraph-biography {
    background-color: floralwhite;
}

.paragraph-courses {
    background-color: aliceblue;
}

.paragraph-publications{
    background-color: beige;
}

.paragraph-activities {
    background-color: cornsilk;
}

.paragraph-projects {
    background-color: whitesmoke;
}

.paragraph-students {
    background-color: ghostwhite;
}

.student-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card-student{
    margin: 2rem;
    min-width: 12rem;
    max-width: 16rem;
    display: inline-block;
    flex-grow: 1;
}

.card-info{
    max-width: 25rem;
    float:right;
    margin-top:2rem;
    margin-bottom:2rem;
    font-size: small;
}

@media (min-width: 500px){


    .card-info{
        max-width: 25rem;
        float:right;
        margin:2rem;
        font-size: small;
    }
}

.fa-twitter-square{
    color: #00aced;
}

.fa-linkedin{
    color: #0077b5;
}

.fa-facebook{
    color: #3b5998;
}

.fa-google-plus-square{
    color: #d34836;
}

@media (min-width: 768px)
{
    .navcol{
        height: 100vh;
        position: relative;
        background-color: white;
        overflow: auto;
    }
    .navlist.collapse {
        display: block;
    }
    .navlist.collapse.show {
        display: none;
    }
    .main{
        position: relative;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding: 0;
    }
}