

.main{
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
}

.navcol{
    position:fixed;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}

.navlist{
    padding: 1rem;
}

.paragraph{
    padding:  2rem;
    display: inline-block;
    width: 100%;
}

.biography {
    background-color: floralwhite;
}

.courses {
    background-color: aliceblue;
}

.publications{
    background-color: beige;
}

.activities {
    background-color: cornsilk;
}

.card{
    max-width: 25rem;
    float:right;
    margin-top:2rem;
    margin-bottom:2rem;
    font-size: small;
}

@media (min-width: 500px){


    .card{
        max-width: 25rem;
        float:right;
        margin:2rem;
        font-size: small;
    }
}

.fa-twitter-square{
    color: #00aced;
}

.fa-linkedin{
    color: #0077b5;
}

.fa-facebook{
    color: #3b5998;
}

.fa-google-plus-square{
    color: #d34836;
}

@media (min-width: 768px)
{
    .navcol{
        height: 100vh;
        position: relative;
        background-color: white;
        overflow: auto;
    }
    .navlist.collapse {
        display: block;
    }
    .navlist.collapse.show {
        display: none;
    }
    .main{
        position: relative;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding: 0;
    }
}